@media (max-width: 600) {
    .rad {
        background-color: red;
    }
}
@media (min-width: 1200) {
    .yallov {
        background-color: gold;
    }
}
@media (min-width: 1300) {
    .gruin {
        background-color: green;
    }
}